@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

a {
    color: black;
    font-family: 'Bebas Neue', cursive;
}

.titel {
  font-size: 1.8rem;
  color: #1DA1F2;
  letter-spacing: 1px;
  font-family: 'Bebas Neue', cursive;
}

.under_titel {
  font-size: 1.2rem;
  color: #1DA1F2;
  letter-spacing: 1px;
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 0px;
  margin-top: 0px;
  float: left;
}

.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 350px;
    border-radius: 20px;
    padding: 30px;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  }

  .form {
    text-align: left;
    margin-top: 30px;
    font-family: 'Bebas Neue', cursive;
  }

  .error {
    margin-top: 10px;
    color: rgb(128, 13, 5);
  }

  #forgot-pass {
      margin-left: 15px;
  }

  #sign-up {
    margin-top: 20px;
    font-size: 1.2em;
  }

  #sign-up a {
    margin-left: 5px;
  }

