@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
  font-family: 'Bebas Neue', cursive;
  font-size: 1.2em;
}

table {
  width: 100%;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  font-size: 18px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  margin-top: 20px;
  padding: 1px 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

a {
  font-size: 24px;
    color: black;
    font-family: 'Bebas Neue', cursive;
}

td {
  font-size: 22px;
}

.titel {
  font-size: 32px;
  color: #1DA1F2;
  letter-spacing: 1px;
  font-family: 'Bebas Neue', cursive;
}

.under_titel {
  font-size: 24px;
  color: #1DA1F2;
  letter-spacing: 1px;
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 0px;
  margin-top: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 350px;
  border-radius: 20px;
  padding: 30px;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.error {
  text-align: center;
  color: rgb(155, 10, 0);
}

#forgot-pass {
    margin-left: 15px;
}

#sign-up {
  margin-top: 20px;
  font-size: 1.2em;
}

#sign-up a {
  margin-left: 5px;
}

#reg-button {
  text-align: center;
}

#back {
  background: #ecf0f3;
  padding: 10px;
  font-size: 18px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}